version: '3.8'

services:
  fastapi:
    image: nahiyanswe/fastapi-sample-project:${IMAGE_TAG}
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    working_dir: /app
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - mongodb

  celery:
    image: nahiyanswe/fastapi-sample-project:${IMAGE_TAG}
    command: python worker.py
    working_dir: /app
    depends_on:
      - redis
      - mongodb

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  mongodb:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
